html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #770303;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

h1 {
  color : white;
  font-size: 6rem;
  text-align: center;
}
h2, a {
  text-decoration: none;
  color : white;
  font-size: 2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
}
#website {
  background: transparent;
}
main > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  max-width: 1600px;
  margin: 0 auto;
  color: #FFFFFF;
}

main section section {
  width: 300px;
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: #491111;
  border: 1px solid #360101;
  border-radius: 5px;
  text-align: center;
  /* ad shadow */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.fighters small {
  display: block;
  height: 100%;
  background: #240808;
}

main section img {
  width: 100%;
}

main section img:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0;
  text-align: center;
}

/* fade-in animation */
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}